# OS
.DS_Store
Thumbs.db

# Python
__pycache__/
*.pyc
.venv/
venv/
.env

# Editors
.vscode/
.idea/

# files
instructions.md
portal-obia/

# Everything that begins with ...
*/**/2026-07*
*/**/2026-08*
*/**/2026-09*
*/**/2026-10*
*/**/2026-11*
*/**/2026-12*
